<div class="content">
  <div class="space-between">
    <h1>Lista de clientes</h1>
    <div>
      <button mat-raised-button color="primary" (click)="addNewClient()">
        Adicionar cliente
      </button>
    </div>
  </div>
  <div class="p-8 d-flex justify-content-end">
  <button mat-button (click)="openModal('filterModal')">Filtrar</button>
  </div>
  <div class="p-8">
    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Antonio"
        #input
      />
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row" #matCellDef>{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let row" #matCellDef>{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Número</th>
        <td mat-cell *matCellDef="let row" #matCellDef>
          {{ row.phoneNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Endereço</th>
        <td mat-cell *matCellDef="let row" class="elipse" #matCellDef>
          {{ row.address }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="onRowClick(row)"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          Nenhum dado encontrado para: "{{ input.value }}"
        </td>
      </tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[10, 25, 100]"
      aria-label="Selecione a quantidade por pagina"
    ></mat-paginator>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Filtros</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="closeModal('filterModal')">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('filterModal')">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="filterList()">Aplicar Filtros</button>
      </div>
    </div>
  </div>
</div>