<div class="content">
  <h1>Dados do produto</h1>

  <section class="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome do produto</mat-label>
      <input
        matInput
        placeholder="Ex: Aguá São Lourenço"
        [(ngModel)]="productModel.productName"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Quantidade</mat-label>
      <input
        matInput
        placeholder="Ex: 12"
        [(ngModel)]="productModel.quantity"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Preço de custo</mat-label>
      <input
        matInput
        placeholder="Ex: 9,50"
        [(ngModel)]="productModel.costPrice"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Preço de venda</mat-label>
      <input
        matInput
        placeholder="Ex: 15,90"
        [(ngModel)]="productModel.salePrice"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome do fornecedor</mat-label>
      <input
        matInput
        placeholder="Ex: Distribuidora de aguas LTDA"
        [(ngModel)]="productModel.provider"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="triggerAction(isEditing)"
    >
      {{ isEditing ? "Editar Produto" : "Adicionar Produto" }}
    </button>
  </section>
</div>
